{% extends "layout.njk" %}

{% block head %}

  <title>{{ course.title }}</title>

{% endblock %}

{% block content %}

  <div id="title">
    <h1 id="{{course.id}}">{{ course.name }}</h1>
  </div>

  <section class="details">

    <div class="card-details" id="{{course.id}}">
      <iframe src="https://rocketseat.com.br/{{course.id}}" frameborder="0"></iframe>
    </div>

    <div class="card-link">
      <a href="https://rocketseat.com.br/{{course.id}}" target="_blank">Ir a página oficial</a>
    </div>

  </section>

{% endblock %}