{% extends "layout.njk" %}

{% block head %}
<title>About - {{about.name}}</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <img src="{{about.logo}}" alt="Imagem de {{about.name}}">
    <h1>{{about.name}}</h1>
    <p>{{about.description}}</p> 
  </div>

  <div class="links-icons-tecnologies">
    {% for tecnologie in about.tecnologies %}
    <a href="{{tecnologie.url}}" target="_blank">
      <img src="{{tecnologie.icon}}" alt="{{tecnologie.name}}">
    </a>
    {% endfor %}
  </div>
{% endblock %}
