@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
  --color-orange: #f06529;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #282a36;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  width: 98%;
  padding: 10px;
  border-bottom: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

span {
  color: white;
}

a {
  text-decoration: none;
}

.menu {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 20px;
}

.menu a:hover {
  color: var(--color-green);
  transition: 400ms;
}

.icons {
  text-align: right;
  width: 40%;
  margin: 20px 0;
}

.icons a:hover {
  opacity: 0.5;
}

.icons img {
  height: 25px;
  margin: 0 15px;
}

#wrapper {
  text-align: center;
  margin-top: 20px;
}

#wrapper img {
  width: 200px;
  border-radius: 50%;
  border-top: 5px solid #e8c012;
  border-right: 5px solid green;
  border-bottom: 5px solid #2965f1;
  border-left: 5px solid #88dded;
  margin-bottom: 20px;
}

#wrapper h1 {
  color: var(--color-rocket);
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 20px;
}

#wrapper h2 {
  font-size: 32px;
  line-height: 42px;
  opacity: 0.5;
  margin-bottom: 20px;
}

#wrapper p {
  font-size: 18px;
  font-weight: bold;
  color: #88dded;
  margin-top: 32px;
}

div.links-icons-tecnologies {
  text-align: center;
  margin-top: 32px;
}

.links-icons-tecnologies a:hover {
  opacity: 0.5;
}

.links-icons-tecnologies img {
  height: 40px;
  margin: 0 15px;
}

/*=====Page Courses====*/

.roxo {
  color: var(--color-rocket);
}

.orange {
  color: var(--color-orange);
}

.green {
  color: var(--color-green);
}

#content h1{
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  margin: 32px auto;
}

.cards {
  max-width: 900px;
  display: grid;
  margin: 20px auto;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 430px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  display: grid;
}

#starter:hover {
  border: 2px solid var(--color-rocket);
}

#launchbase:hover {
  border: 2px solid var(--color-orange);
}

#gostack:hover {
  border: 2px solid var(--color-green);
}

.number-card {
  width: 20px;
  margin: 20px auto;
  padding: 5px;
  border: 2px solid;
  border-radius: 50%;
}

.number-card span {
  font-size: 12px;
  font-weight: bold;
}

.image-card img{
  margin-top: 20px;
}

.content-card,
.info-card {
  margin-top: 20px;
  padding: 20px;
}

.content-card p {
  color: #f9f9f9;
  font-weight: normal;
  max-width: 99%;
}

.info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
}

.price-card {
  font-size: 12px;
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

/*=======Page not found========*/
div#page-not-found {
  max-width: 900px;
  display: grid;
  margin: 20px auto;
  align-items: center;
  text-align: center;
}


div#page-not-found img{
  width: 50%;
  margin: 32px auto;
}

div#page-not-found p {
  color: var(--color-green);
  font-weight: bold;
}

/*=======Page Course Details========*/
#title {
  text-align: center;
  margin: 10px 0;
}

#title #starter {
  color: var(--color-rocket);
  border: none;
}

#title #launchbase {
  color: var(--color-orange);
  border: none;
}

#title #gostack {
  color: var(--color-green);
  border: none;
}

.details {
  margin: 0px auto 10px auto;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.card-details {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  padding-top: 48%;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #FFF;
}

.card-link {
  text-align: center;
  margin: 15px;
}

.card-link a {
  color: #FFF;
  background-color: var(--color-rocket);
  border-radius: 16px;
  padding: 5px;
  opacity: 0.5;
}

.card-link a:hover {
  opacity: 1;
}

